%blogs{
  
  .image{
    img{
      position: relative;
      transition: all 0.3s ease-in-out;
    }
  }
  h3{
    a{
      color: #384141;
      font-weight: 300;
    }
  }
  .commment {
    li{
      margin-left: 10px;
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
      a{
        display: block;
        color: #a5a5a5;
        font-size: 14px;
      }
    }
  }
}

.blog-item{
  @extend %blogs;
}


// Single Blog pages
%blog_page{
  @include section(60px,null,null);
  position: relative;

  .container{

    .news_item{
      margin-bottom: 30px;
      &.shadow{
        box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.1);
      }

      image{
        position: relative;
        overflow: hidden;
        img{
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }

      .news_desc{
        padding: 40px 30px;

        h3{
          color: #384141;
          font-weight: normal;
          text-transform: uppercase;
          a{
            outline: none;
            text-decoration: none;
            color: inherit;
            &:hover{
              @extend a;
            }
          }
        }
        ul{
          margin: 20px 0px;

          li{
            display: inline-block;
            a{
              color: #a5a5a5;
              font-size: 12px;
              font-weight: 600;
              
              & > i{
                font-size: 17px;
                margin-right: 8px;
                vertical-align: text-bottom;
                &::before,
                &::after{
                -webkit-transition: all 0s !important;
                -o-transition: all 0s !important;
                transition: all 0s !important;
                }
              }
            }
          }
        }
        p{
          margin-bottom: 35px;
        }

        blockquote{
          &.blockquote{
            font-style: italic;
            color: #384141;
            font-style: 18px;
            margin-bottom: 56px;
            
          }
          &::before{
            content: "\f10d";
            width: 40px;
            font-size: 28px;
            margin-right: 15px;
            color: #a1a1a1;
            font-family: "Font Awesome 5 Pro";
            font-weight: 900;
          }
        }
        ul.rounded{
         
          li{
            padding-left: 20px;
            position: relative;
            // border-radius: ;
            &::before{
                position: absolute;
                content: '';
                height: 10px;
                width: 10px;
                background: color(primary);
                margin-right: 10px;
                margin-left: -20px;
                border-radius: 50%;
                top: 6px;
                // left: ;
              }
          }
        }

        .profile-authors{
          h4{
            font-size: 16px;
            margin-bottom: 40px;
          }
          .eny_profile {
            position: relative;
            border-bottom: 1px solid #ececec;
            margin-bottom: 30px;
            padding-bottom: 30px;
            .profile_photo{
              height: 90px;
              width: 90px;
              display: table-cell;
              vertical-align: middle;
              &>img{
               width: 100%;
               border-radius: 50%;
              }
            }
            .profile_text{
              display: table-cell;
              vertical-align: middle;
              padding-left: 20px;
              padding-right: 10px;

              h5{
                color: #384141;
                margin-bottom: 8px;
                font-size: 16px;
                a{
                  outline: none;
                  text-decoration: none;
                  color: inherit;
                 
                }
              }
              .readmorebtn{
                position: absolute;
                top: 5px;
                right: 0px;
                font-size: 14px;
                color: #808080;
              }
            }
        }
        }
        
        .post-comment{
          h4{
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
          }
          h5{
            font-size: 15px;
            font-weight: 500;
            line-height: 1.2;
            .ratingText{
              transition: 0.3s;
            }
          }

          .comment{
            li{
              a{
                i{
                  color: #ffc107;
                  font-size: 16px;
                }
              }
            }
          }

        form{

          .form-group{
            label{
              font-size: 12px;
              font-weight: 500;
              padding-left: 10px;
              min-height: 20px;
              cursor: pointer;
              -webkit-touch-callout: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }

            .form-control{
              border: 1px solid #ececec;
              -webkit-box-shadow: none;
              box-shadow: none;
              height: 41px;
              color: #b6b8ba;
              font-size: 0.875rem;
              background:#fff;
              position: relative;
            }
          }
        }
        }
      }
    }

    aside{

      .widget{
        padding: 40px 30px;
        background-color: #fff;
        box-shadow: 0 0 5px 0 rgba(0,0,0, 0.1);
        h4{
          font-size: 16px;
        }
        .widget_search{
          
          .form-control{
            border-color: #ececec;
            -webkit-box-shadow: none;
            box-shadow: none;
            display: table-cell;
              width: 214px; 
              /* margin-right: 40px; */
              -webkit-border-bottom-left-radius: 20px !important;
              border-bottom-left-radius: 20px !important;
              -webkit-border-top-left-radius: 20px !important;
              border-top-left-radius: 20px !important;
          }
          .input-group-addon{
            background-color: color(primary);
            color: #fff;
            top: 0;
            left: 0;
            font-size: 14px;
            width: 40px;
            -webkit-border-top-right-radius: 20px;
            border-top-right-radius: 20px;
            -webkit-border-bottom-right-radius: 20px;
            border-bottom-right-radius: 20px;
          }
        }

        .single_post{
          overflow: hidden;
          display: table;
          .post{
            height: 50px;
            width: 50px;
            display: table-cell;
            & > img{
              width: 100%;
              border-radius: 50% !important;
            }
          }
          .text{
            padding-left: 10px;
            font-size: 14px;
            a{
              color: #384141;
            }
            &> a{
              font-weight: 600;
            }
          }
          span{
            font-size: 12px;
            display: block;
          }
        }

      }
      .webcats{
        
        li{
          a{
            position: relative;
            margin-left: 15px;
            color: #384141;
            &::before{
              content: '';
              position: absolute;
              top: 5px;
              left: -16px;
              background-color: color(primary);
              display: inline-block;
              width: 10px;
              height: 10px;
              border-radius: 50%;
            }
            span{

            }
          }
        }
      }
      .webtags{
        li{
          margin: 1px;
          display: inline-block;
          a{
            -webkit-border-radius: 24px;
            border-radius: 24px;
            color: #6f6f6f;
            font-size: 12px;
            margin: 2px 0;
            padding: 5px 1rem;
            border: 1px solid #ececec;
            display: block;
          }
        }
      }
    }
  }
}


#our-blog{
  @extend %blog_page;
}