$colors: (
  // brand
  primary: #6BA229,
  text_dark:#181a2d,
  secondary: #6d9837,

  color_white: #fff,
  tertiary_bg: #fff,
  quaternary_bg: #181A2D,
  quinary_bg: #e7ece0,

  
  // optional text
  primary_text: #fff,

  // border color
  border_bottom: rgba(255, 255, 255, 0.1),


  // nav link And Hover
  nav_link_primary: #82b541,
  nav_link_1: #fff,
  nav_link_2: #3E3F3D,
);

