%pricacy_policy_bnr{
  background: url("../images/service/service_banner.jpg") center center/cover no-repeat;
  min-height: 350px;
  position: relative;
  display: grid;
  align-items: center;
  z-index: 1;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
  }
}

#Pricacy_policy_banner{
  @extend %pricacy_policy_bnr;
}


.main-privacy {
  h2 {
    font-size: 22px;
    color: color(text_dark);
    font-weight: 800;
    margin:  0 0 25px 0;
    opacity: 0.8;
  }
    
  p {
    font-size: 16px;
    color: #666;
  }
  
  .blue-box {
    width: 20px;
    height: 20px;
    background: color(primary);
    margin-right: 20px;
    border-radius: 5px;
    padding-right: 20px;
    margin-right: 20px;
    opacity: 0.5;
    margin-top: 2px;
  }
  
  .link {
    color: #2794d7;
    font-size: 16px;
  }
  
  .bg-transparent {
    background: transparent !important;
  }

  
  /* === table part start === */
  .use-table .heading { 
    background: #2794d7;
    border-radius: 10px;
  }

  .use-table .heading span {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    /* padding: .75rem; */
  }

  .use-table {
    border: 3px solid #2794d7;
    border-radius: 25px !important;
    margin-bottom: 0;
    overflow: hidden;
    border-bottom: 0px solid transparent;
    position: relative;
    z-index: 1;
  }

  .use-table::before {
    width: 3px;
    height: 100%;
    background: #2794d7;
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }



  .use-table .row {
    -webkit-border-bottom-right-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
    -moz-border-radius-bottomright: 25px;
    -moz-border-radius-bottomleft: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 3px solid #2794d7;
    border-top: 3px solid transparent;
    margin: 0 -3px;
    padding: 15px 5px;
  }

  /* ===//end of table part === */
}